html {
  /* Use default san-serif font */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

form {
  display: block;
}