* {
  box-sizing: border-box;
}

html {
  /* Use default san-serif font */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Bootstrap container */
body {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  body {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  body {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  body {
    max-width: 1140px;
  }
}
/* End bootstrap container */

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav ul > li {
  display: inline-block;
}

nav ul > li:not(:first-child),
nav ul > li:not(:last-child) {
  margin-right: 10px;
}

form {
  display: block;
}
